
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



:root{
  --color-principal:#25579c;
  --color-secundario: #1465bb;
  --color-terciario: #2196f3;
  --titulo:#3f85b5;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html{
  font-size: 62.5%;
}

img{
  width: 100%;
  height: 100%;
  display: block;
}


a{
  text-decoration: none;
}
li{
  list-style-type: none;
}





.container{
  width: 85%;
  max-width: 120rem;
  margin: 0 auto;
}

/*Navegacion**/

.nav--container{
  background-color: var(--color-principal);
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
}


.navegacion{
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px){
  .navegacion{
    flex-direction: row;
  }


}

.navegacion li{
  display: block;
  width: 100%;
}


.navegacion--enlace{
  display: block;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  color: white;
  font-size: 1.2rem;


}
@media (min-width: 768px){
  .navegacion--enlace{
    font-size: 1.6rem;
  }
}


.navegacion--enlace:hover{
  background-color: #266dd2;
  color: white;
  transition: 0.8s;
}

/**HEADER*/

.header{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 4rem;
}
@media (min-width: 768px){
  .header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}


.header--contenido{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}
@media (min-width: 768px){
  .header--contenido{
    align-items: center;
  }
}


.header--titulo{
  font-size: 3rem;
  text-align: center;
  color: var(--titulo);
}
@media (min-width: 768px){
  .header--titulo{
    font-size: 5.4rem;
  }
}


.header--span{
  display: block;
  font-size: 2.8rem;
}
.header--contenido::after{
  content: '';
}


.header--imagen{
    height: 80vh;
}


/*TXTIMG**/

.txtImg{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.txtImg--titulo{
  font-size: 3.5rem;
  text-align: center;
  color: var(--titulo);
}


.txtImg--informacion{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-evenly;
  font-size: 1.8rem;
  color: var(--color-principal);
}
@media (min-width: 768px){
  .txtImg--informacion{
    font-size: 2.2rem;
  }
}


.txtImg--contenido{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px){
  .txtImg--contenido{
      display: grid;
      grid-template-columns: repeat(2,1fr);
  }
  .txtImg--img{
    width: 90%;
    margin: 0 auto;
  }
  
}

.txtImg--img img{
  border-radius: 4rem;
  transition: 1s;
}
.txtImg--img img:hover{
    transform: scale(0.809) rotate(5deg);

}

.next-previous{
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  gap: 2rem;

}

.next, .previous{
  font-size: 3.2rem;
}


footer{
    background-color: var(--color-principal);
    min-height: 10px;
}

footer h2{
  padding: 2rem;
  text-align: center;
  color: white;
}



.img_modal{
  min-width: 250px;
  min-height: 15rem;
  max-height: 25rem;
  border-radius: 4rem;
  object-fit: cover;
}

.x-modal{
  cursor: pointer;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.txt_modal{
  max-width: 500px;
  font-size: 1.4rem;
  padding: 1rem;
  font-weight: 600;
}

@media (min-width: 768px){
  .txt_modal{
    font-size: 1.6rem;
  }
}

.cards--container{
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
}


.card{
  width: 28rem;
  background-color: #1465bb;
  border-radius: 3rem;
}
.card:hover{
  cursor: pointer;
}

.card--container{
  width: 100%;
  height: 20rem;
  margin: 0 auto;
}
.card img{
  border-radius: 3rem;
}

.card--title{
  text-align: center;
  font-size: 2.1rem;
  color: white;
  padding: 1.5rem;
}


.recomendaciones--titulo{
    font-size: 3rem;
    text-align: center;
    color: var(--titulo);
    margin-bottom: 2rem;
}
